.cardStyle{
    background-color: blueviolet;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
}
.card-body{
    background-color:aqua;
}

.cardStyleBtn{
    background-color:fuchsia;
    width: 50%;
    margin: 0 auto;
    border-radius: 35px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.card-bodyBtn{
    background-color: greenyellow;
    width: 400px;
    padding: 15px;
    border-radius: 20px;
}